{% extends "procedures/procedurebase.html" %}

{% block content %}
<h1 style="text-align: center">Calculate Total From Event</h1>
<p style="text-align: center;">Calling the procedure total_collection()</p>
<br>
<form method="POST" name="calctotal">
    <label for="EVENT">Choose the Event:</label>
    <select name="Department" id="event">
      <option value="Fin">Event-1</option>
      <option value="Event-2">Event-2</option>
      <option value="Intro to GitHub">GitHub</option>   
      <option value="Event-7">Event-7</option>
    </select>
    <br>
    <label for="Fees">Enter Registration Fees</label>
    <input type="text" id="Fees" name="Fees">
    <br><br>
    <input type="submit" value="Submit">
  </form>
<br>
<br>
<h2>Total Income from Event is:</h2> <h2>5000</h2>
{% endblock %}