{% extends "procedures/procedurebase.html" %}

{% block content %}
<h1 style="text-align: center">Filter Events by Venue</h1>
<p style="text-align: center;">Calling the procedure filtervenue()</p>
<br>
    <form method="POST" name="filtervenue">
        <label for="EVENT">Choose the Venue:</label>
        <select name="Location" id="venue">
          <option value="Offline">Offline</option>
          <option value="Online">Online</option>
          <option value="Ahmedabad">Ahmedabad</option>
          <option value="Surat">Surat</option>
        </select>
        <br><br>
        <input type="submit" value="Submit">
      </form>
    <br>
    <br>
    <br>
    <div class="card-group">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Event-2</h4>
                <p class="card-text">Event Description</p><button class="btn btn-primary" type="button">Details</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Intro to GitHub</h4>
                <p class="card-text">Learn Git and GitHub</p><button class="btn btn-primary" type="button">Details</button>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Event-7</h4>
                <p class="card-text">Event Description</p><button class="btn btn-primary" type="button">Details</button>
            </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/megamenu-dark.js"></script>
{% endblock %}