{% extends "base.html" %}

{% block content %}
<table border="1" class="table table-hover table-bordered">
    <th>Balance</th>
    <th>Miscellaneous Charges</th>
    <th>Receipt Name</th>
    <th>Date</th>
    <th>Bill Number</th>
    <th>Total Amount</th>
    <th>Paid Amount</th>
    <th>Actions</th>
    
    
    
    {% for acc in accountDetails%}
    <tr>
        <td>{{acc[0]}}</td>
        <td>{{acc[1]}}</td>
        <td>{{acc[2]}}</td>
        <td>{{acc[3]}}</td>
        <td>{{acc[4]}}</td>
        <td>{{acc[5]}}</td>
        <td>{{acc[6]}}</td>
        <td>
            <a href="/delete/accountData/account_table/receipt_name/{{acc[2]}}">Delete</a>
        </td>
    </tr>
    {%endfor%}
</table>
{% endblock %}