{% extends "base.html" %}

{% block content %}
<button><a href="/">Go to Home</a></button>
<br>
<h1 style="text-align:center">Account Table <button><a href="/accountData">🏦</a></button></h1>
   
    <form action="" method="POST">
        <!-- Sr No <input type="number" name="event_no"/>
        <br>
        <br> -->
        Balance <input type="number" name="balance"/>
        <br>
        <br>
        Miscellaneous Charges <input type="number" name="misc_charges" id=""/>
        <br>
        <br>
        Receipt Name <input type="Text" name="receipt_name" id=""/>
        <br>
        <br>
        Date <input type="date" name="account_date" id=""/>
        <br>
        <br>
        Bill Number <select name="bill_no">
            {% for bill_no in billno_Tuple %}
            <option value="{{bill_no[0]}}">{{bill_no[0]}}</option>
            {%endfor%}</select>
        <br>
        <br>
        Total Amount <input type="number" name="tot_amt" id=""/>
        <br>
        <br>
        Paid Amount <input type="number" name="paid_amt" id=""/>
        <br>
        <br>
        
        
        <input type="submit"/>
    </form>
{% endblock %}