{% extends "base.html" %}

{% block content %}
<table border="1" class="table table-hover table-bordered">
    <th>Bill Number</th>
    <th>Order Number</th>
    <th>Amount</th>
    <th>Tax (%)</th>
    <th>Delivery Charge</th>
    <th>Final Amount</th>
    <th>Bill Date</th>
    <th>Email</th>
    <th>Actions</th>
    
    
    {% for bill in billDetails%}
    <tr>
        <td>{{bill[0]}}</td>
        <td>{{bill[1]}}</td>
        <td>{{bill[2]}}</td>
        <td>{{bill[3]}}</td>
        <td>{{bill[4]}}</td>
        <td>{{bill[5]}}</td>
        <td>{{bill[6]}}</td>
        <td>{{bill[7]}}</td>
        <td>
            <a href="/delete/billData/bill/bill_no/{{bill[0]}}">Delete</a>
        </td>
    </tr>
    {%endfor%}
</table>
{% endblock %}