{% extends "base.html" %}

{% block content %}
<table border="1" class="table table-hover table-bordered">
    <th>Department name</th>
    <th>Vendor Details</th>
    <th>Scope of Work</th>
    <th>Actions</th>
    
    {% for i in departmentDetails %}
    <tr>
        <td>{{i[0]}}</td>
        <td>{{i[1]}}</td>
        <td>{{i[2]}}</td>
        <td>
            <a href="/delete/departmentData/department/department_name/{{i[0]}}">Delete</a>
        </td>
    </tr>
    {%endfor%}
</table>
{% endblock %}