{% extends "base.html" %}

{% block content %}
    <button><a href="http://localhost:5000/">Go to Home</a></button>
    <br>
    <h1 style="text-align:center">Department Table<button><a href="http://localhost:5000/departmentData">🏪</a></button></h1>
    <form action="" method="POST" id="feedbackForm">
        <!-- Sr No <input type="number" name="event_no"/>
        <br>
        <br> -->
        Department Name <input type="text" name="department_name"/>
        <br>
        <br>
        Vendor Name<select name="vendor_relation">
            {% for vendor_relation in vendorTuple %}
            <option value="{{vendor_relation[0]}}">{{vendor_relation[0]}}</option>
            {%endfor%}</select>
            <br>
            <br>
        Scope of Work <input type="text" name="work_scope"/>
        <!-- Date <input type="date" name="feedback_date" id=""/>
        <br>
        <br>
        Time <input type="time" name="feedtime" id=""/>
        <br>
        <br> -->
        
        <input type="submit"/>
    </form>
{% endblock %}