{% extends "base.html" %}

{% block content %}
    <button><a href="http://localhost:5000/">Go to Home</a></button>
    <br>
    <h1 style="text-align:center">Events Table<button><a href="http://localhost:5000/eventsData">🎭</a></button></h1>

    <form action="" method="POST">
        <!-- Sr No <input type="number" name="event_no"/>
        <br>
        <br> -->
        Name of the Event <input type="text" name="event_name"/>
        <br>
        <br>
        Date <input type="date" name="event_date" id=""/>
        <br>
        <br>
        Time <input type="time" name="event_time" id=""/>
        <br>
        <br>
        Venue <input type="Text" name="venue" id=""/>
        <br>
        <br>
        Type <input type="text" name="event_type" id=""/>
        <br>
        <br>
        
        <input type="submit"/>
    </form>
{% endblock %}