{% extends "base.html" %}

{% block content %}
<table border="1" class="table table-hover table-bordered">
    <th>Event Number</th>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Event Location</th>
    <th>Event Time</th>
    <th>Action</th>
    
    
    {% for event in eventDetails%}
    <tr>
        <td>{{event[0]}}</td>
        <td>{{event[1]}}</td>
        <td>{{event[2]}}</td>
        <td>{{event[3]}}</td>
        <td>{{event[4]}}</td>
        <td>
            <a href="/delete/eventsData/event_table/event_no/{{event[0]}}">Delete</a>
        </td>
    </tr>
    {%endfor%}
</table>
{% endblock %}