<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1></h1>
    <form action="" method="POST">
        <!-- Sr No <input type="number" name="event_no"/>
        <br>
        <br> -->
        Name of the Event <input type="text" name="event_name"/>
        <br>
        <br>
        Date <input type="date" name="event_date" id=""/>
        <br>
        <br>
        Time <input type="time" name="event_time" id=""/>
        <br>
        <br>
        Venue <input type="Text" name="venue" id=""/>
        <br>
        <br>
        Type <input type="text" name="event_type" id=""/>
        <br>
        <br>
        
        <input type="submit"/>
    </form>
</body>
</html>