{% extends "base.html" %}
{% block content %}
<table border="1" class="table table-hover table-bordered">
    <th>Email ID</th>
    <th>Title</th>
    <th>Message</th>
    <th>Date</th>
    <th>Time</th>
    <th>Sentiment</th>
    
    
    
    {% for feedback in feedbackDetails%}
    <tr>
        <td>{{feedback[0]}}</td>
        <td>{{feedback[1]}}</td>
        <td>{{feedback[2]}}</td>
        <td>{{feedback[3]}}</td>
        <td>{{feedback[4]}}</td>
        <td>{{feedback[5]}}</td>
        
    </tr>
    {%endfor%}
</table>

{% endblock %}