<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .done{
        color:green;
    }
    .rem{
        color: black;
    }
    h1{
        text-align: center;
    }
</style>
<body>
    <h1><div class="done"><a href="/login">Login</a></div></h1>
    <h1><div class="rem"><a href="/events">Event Table</a></div></h1>
    <h1><div class="done"><a href="/bill">Bill</a></div></h1>
    <h1><div class="done"><a href="/account">Account Table</a></div></h1>
    <h1><div class="done"><a href="/registration">Registration</a></div></h1>
    <h1><div class="rem"><a href="/sponsorship">Sponsorship Package</a></div></h1>
    <h1><div class="rem"><a href="/login">Sponsors</a></div></h1>
    <h1><div class="done"><a href="/vendors">Vendors</a></div></h1>
    <h1><div class="rem"><a href="/login">Department</a></div></h1>
    <h1><div class="rem"><a href="/login">Team</a></div></h1>
    <h1><div class="done"><a href="/inventory">Inventory</a></div></h1>
    <h1><div class="done"><a href="/feedback">Feedback</a></div></h1>
    
    
    </form>
</body>
</html>