{% extends "base.html" %}

{% block content %}

<style>
    .done{
        color:green;
    }
    .rem{
        color: black;
    }
    body{
        text-align: center;
    }
    h3{
        
        color: white;
  
    }
    a:hover, a:active {
        background-color: white;
      }
    
</style>
<body>
    <h1>Event Management System</h1>
    <h2><div class="done"><a href="/login">Login</a></div></h2>
    <h2><div class="rem"><a href="/events">Event Table</a></div></h2>
    <h2><div class="done"><a href="/bill">Bill</a></div></h2>
    <h2><div class="done"><a href="/account">Account Table</a></div></h2>
    <h2><div class="done"><a href="/registration">Registration</a></div></h2>
    <h2><div class="rem"><a href="/sponsorship">Sponsorship Package</a></div></h2>
    <h2><div class="rem"><a href="/sponsors">Sponsors</a></div></h2>
    <h2><div class="done"><a href="/vendors">Vendors</a></div></h2>
    <h2><div class="rem"><a href="/department">Department</a></div></h2>
    <h2><div class="rem"><a href="/team">Team</a></div></h2>
    <h2><div class="done"><a href="/inventory">Inventory</a></div></h2>
    <h2><div class="done"><a href="/feedback">Feedback</a></div></h2>
    </form>
    <br><br><br><br><br><br>
    <footer><a href="https://github.com/parthmshah1302/DBMS-Event-Management-System" target="_blank">Github Repository</a>
    </footer>
{% endblock %}