<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .done{
        color:green;
    }
    .rem{
        color: black;
    }
    h1{
        text-align: center;
    }
</style>
<body>
    <h1><div class="done"><a href="http://localhost:5000/login">Login</a></div></h1>
    <h1><div class="rem"><a href="http://localhost:5000/events">Event Table</a></div></h1>
    <h1><div class="done"><a href="http://localhost:5000/bill">Bill</a></div></h1>
    <h1><div class="done"><a href="http://localhost:5000/account">Account Table</a></div></h1>
    <h1><div class="done"><a href="http://localhost:5000/registration">Registration</a></div></h1>
    <h1><div class="rem"><a href="http://localhost:5000/login">Sponsorship Package</a></div></h1>
    <h1><div class="rem"><a href="http://localhost:5000/login">Sponsors</a></div></h1>
    <h1><div class="done"><a href="http://localhost:5000/vendors">Vendors</a></div></h1>
    <h1><div class="rem"><a href="http://localhost:5000/login">Department</a></div></h1>
    <h1><div class="rem"><a href="http://localhost:5000/login">Team</a></div></h1>
    <h1><div class="done"><a href="http://localhost:5000/inventory">Inventory</a></div></h1>
    <h1><div class="done"><a href="http://localhost:5000/feedback">Feedback</a></div></h1>
    
    
    </form>
</body>
</html>