{% extends "base.html" %}

{% block content %}
    <button><a href="http://localhost:5000/">Go to Home</a></button>
    <br>
    <h1 style="text-align:center">Inventory Table<button><a href="http://localhost:5000/inventoryData">🛍️</a></button></h1>
    <form action="" method="POST">
        <!-- Sr No <input type="number" name="event_no"/>
        <br>
        <br> -->
        Item Code <input type="text" name="item_code" id=""/>
        <br>
        <br>
        Item Name <input type="text" name="item_name"/>
        <br>
        <br>
        Quantity <input type="number" name="quantity" id=""/>
        <br>
        <br>
        
       
        
        
        <input type="submit"/>
    </form>
    {% endblock %}