{% extends "base.html" %}
{% block content %}
<table border="1" class="table table-hover table-bordered">
    <th>Item Code</th>
    <th>Item Name</th>
    <th>Quantity</th>
    <th>Actions</th>
    
    
    
    {% for inventory in inventoryDetails%}
    <tr>
        
        <td>{{inventory[0]}}</td>
        <td>{{inventory[1]}}</td>
        <td>{{inventory[2]}}</td>
        <td>
            <a href="/delete/inventoryData/inventory/item_code/{{inventory[0]}}">Delete</a>
        </td>
        
    </tr>
    {%endfor%}
</table>

{% endblock %}