{% extends "base.html" %}
{% block content %}
<table border="1" class="table table-hover table-bordered">
    <th>Fees</th>
    <th>Customer Name</th>
    <th>Mobile number</th>
    <th>Email Address</th>
    <th>Payment Mode</th>
    <th>Serial Number</th>
    <th>Serial Number</th>
    <th>Registration Reciept</th>
    <th>Event Name</th>
    <th>Event Number</th>
    
    
    
    {% for ev in registrationDetails%}
    <tr>
        <td>{{ev[0]}}</td>
        <td>{{ev[1]}}</td>
        <td>{{ev[2]}}</td>
        <td>{{ev[3]}}</td>
        <td>{{ev[4]}}</td>
        <td>{{ev[5]}}</td>
        <td>{{ev[6]}}</td>
        <td>{{ev[7]}}</td>
        <td>{{ev[8]}}</td>
        <td>{{ev[9]}}</td>
    </tr>
    {%endfor%}
</table>

{% endblock %}