{% extends "base.html" %}

{% block content %}
    <button><a href="http://localhost:5000/">Go to Home</a></button>
    <br>
    <h1 style="text-align:center">Sponsorship Table<button><a href="/sponsorshipData">💸</a></button></h1>
    <form action="" method="POST" id="sponsorshipForm">
        <!-- Sr No <input type="number" name="event_no"/>
        <br>
        <br> -->
        
        Sponsor Type<select name="sponsor_type">
            <option value="Diamond">Diamond</option>
            <option value="Platinum">Platinum</option>
            <option value="Gold">Gold</option>
            
            <option value="Silver">Silver</option>
            <option value="Bronze">Bronze</option>
            </select>
            <br><br>
        Deliverables <br><textarea rows="4" cols="50" name="deliverables" form="sponsorshipForm" placeholder="Enter text here..."></textarea>   
          
        <br>
        <br>
        <!-- Date <input type="date" name="feedback_date" id=""/>
        <br>
        <br>
        Time <input type="time" name="feedtime" id=""/>
        <br>
        <br> -->
        
        <input type="submit"/>
    </form>
    {% endblock %}