{% extends "base.html" %}

{% block content %}
    <table border="1" class="table table-hover table-bordered">
        <th>Sponsor's Name</th>
        <th>Sponsor's Address</th>
        <th>Amount (in ₹)</th>
        <th>Mobile Number</th>
        <th>Sponsor Type</th>
        <th>Event No</th>
        <th>Event Name</th>
        <th>Actions</th>
        {% for sponsor in sponsorsDetails%}
        <tr>
            <td>{{sponsor[0]}}</td>
            <td>{{sponsor[1]}}</td>
            <td>{{sponsor[2]}}</td>
            <td>{{sponsor[3]}}</td>
            <td>{{sponsor[4]}}</td>
            <td>{{sponsor[5]}}</td>
            <td>{{sponsor[6]}}</td>
            <td>
                <a href="/delete/sponsorsData/sponsors/{{sponsor[0]}}/{{sponsor[5]}}">Delete</a>
            </td>
        </tr>
        {%endfor%}
    </table>
    {% endblock %}